{
  "env": {
    "browser": true
  },
  "globals":       {
    "fmajax": false
  },
  "rules": {
    "comma-dangle": ["error", "never"],
    "no-cond-assign": [2,"always"],
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-empty-character-class": 2,
    "no-empty": 2,
    "no-ex-assign": 2,
    "no-extra-boolean-cast": 2,
    "no-extra-semi": 2,
    "no-func-assign": 2,
    "no-inner-declarations": [2,"both"],
    "no-invalid-regexp": 2,
    "no-irregular-whitespace": 2,
    "no-negated-in-lhs": 2,
    "no-obj-calls": 2,
    "no-regex-spaces": 2,
    "no-sparse-arrays": 2,
    "no-unreachable": 2,
    "use-isnan": 2,
    "valid-typeof": 2,
    "no-unexpected-multiline": 1,
    "block-scoped-var": 2,
    "complexity": [1, 6],
    "curly": [2,"all"],
    "dot-notation": [1,{"allowKeywords":true}],
    "dot-location": [2,"property"],
    "eqeqeq": 2,
    "guard-for-in": 1,
    "no-caller": 2,
    "no-eval": 1,
    "no-extend-native": 1,
    "no-extra-bind": 2,
    "no-fallthrough": 2,
    "no-floating-decimal": 2,
    "no-implied-eval": 1,
    "no-lone-blocks": 2,
    "no-loop-func": 2,
    "no-multi-str": 2,
    "no-native-reassign": 2,
    "no-new-func": 2,
    "no-new-wrappers": 2,
    "no-octal": 2,
    "no-redeclare": 2,
    "no-return-assign": [2,"always"],
    "no-script-url": 1,
    "no-self-compare": 2,
    "no-sequences": 2,
    "no-useless-call": 2,
    "vars-on-top": 1,
    "wrap-iife": [2,"outside"],
    "strict": [2,"function"],
    "no-delete-var": 2,
//    "no-shadow-restricted-names": 2,
//    "no-shadow": [1,{"builtinGlobals":true,"hoist":"all"}],
    "no-undef-init": 2,
    "no-undef": 2,
    "no-undefined": 0,
    "no-unused-vars": ["error", { "vars": "local" , "args": "none"}],
    "no-use-before-define": [2,"nofunc"],
    "array-bracket-spacing": [1,"never",{"arraysInArrays":false}],
    "brace-style": [2,"1tbs",{"allowSingleLine":true}],
    "camelcase": [2,{"properties":"always"}],
    "comma-spacing": [2,{"after":true}],
    "comma-style": ["error", "last"],
    "computed-property-spacing": [2,"never"],
    "indent": ["error", 2, {"VariableDeclarator": 2, "MemberExpression": 2}],
    "key-spacing": [2,{"afterColon":true}],
    "new-cap": 1,
    "no-lonely-if": 2,
    "no-mixed-spaces-and-tabs": 2,
    "no-nested-ternary": 2,
    "no-new-object": 2,
    "no-spaced-func": 2,
    "no-trailing-spaces": [2,{"skipBlankLines":true}],
    "object-curly-spacing": [2,"never",{}],
    "quotes": [2,"single","avoid-escape"],
    "spaced-comment": [2,"always",{}],
    "max-depth": ["error",2],
    "max-len": ["error", 120],
    "max-params": [1,4],
    "max-nested-callbacks": ["error", 3]
  }
}
